{% extends 'base.html' %}

{% block app_content %}
    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="ud-banner-content">
                <h1>Login Page</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ====== Banner End ====== -->
  
      <!-- ====== Login Start ====== -->
      <section class="ud-login">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="ud-login-wrapper">
                <form class="ud-login-form" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                  <div class="ud-form-group">
                      {{ form.username(size=32) }}<br>
                      {% for error in form.username.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  </div>
                  <div class="ud-form-group">
                      {{ form.password(size=32) }}<br>
                      {% for error in form.password.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  </div>
                  <div class="ud-form-group">
                    {{ form.remember_me() }} {{ form.remember_me.label }}
                    {{ form.submit() }}
                  </div>
                </form>
  
                <div class="ud-socials-connect">
                  <p>Connect With</p>
  
                  <ul>
                    <li>
                      <a href="javascript:void(0)" class="facebook">
                        <i class="lni lni-facebook-filled"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="twitter">
                        <i class="lni lni-twitter-filled"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="google">
                        <i class="lni lni-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
  
                <a class="forget-pass" href="javascript:void(0)">
                  Forget Password?
                </a>
                <p class="signup-option">
                  Not a member yet? <a href="{{ url_for('auth.register') }}"> Sign Up </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
