<section id="about" class="ud-about">
    <div class="container">
      <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
        <div class="ud-about-content-wrapper">
          <div class="ud-about-content">
            <span class="tag">About Us</span>
            <h2>Unlocking the Potential of Your Crypto Portfolio.</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Nulla ac odio rutrum, semper sem non, volutpat nisi. Duis 
              quis dolor laoreet, viverra eros nec, dictum ligula. Nullam 
              et eros lectus. Pellentesque convallis lectus ac quam 
              tincidunt euismod. 
            </p>

            <p>
              Sed non quam a metus condimentum sagittis ut id mi. Nam quis 
              erat rhoncus, elementum massa nec, consequat ligula. Nulla 
              sed dui a metus iaculis fringilla. Suspendisse pulvinar neque 
              at diam hendrerit, ut sodales massa viverra. Mauris tincidunt 
              enim urna, vitae rhoncus urna venenatis a. Nunc fermentum congue 
              consectetur. 
            </p>
            <a href="javascript:void(0)" class="ud-main-btn">Learn More</a>
          </div>
        </div>
        <div class="ud-about-image">
          <img src="{{ url_for('static', filename='images/about/about-image.svg') }}" alt="about-image" />
        </div>
      </div>
    </div>
  </section>