<section class="ud-hero" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
            <h1 class="ud-hero-title">
              Cutting edge sentiment analysis for Cryptocurrency investors
            </h1>
            <p class="ud-hero-desc">
              Analyze cryptocurrencies like the pros with real time sentiment analysis
              from Twitter, Reddit, and other platforms
            </p>
            <ul class="ud-hero-buttons">
              <li>
                <a href="" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-white-btn">
                  Try for Free
                </a>
              </li>
              <li>
                <a href="" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-link-btn">
                  Learn More <i class="lni lni-arrow-right"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
            <img src="{{ url_for('static', filename='images/hero/alternate-hero-image.png') }}" alt="hero-image" />
            <img
              src="{{ url_for('static', filename='images/hero/dotted-shape.svg') }}"
              alt="shape"
              class="shape shape-1"
            />
            <img
              src="{{ url_for('static', filename='images/hero/dotted-shape.svg') }}"
              alt="shape"
              class="shape shape-2"
            />
          </div>
        </div>
      </div>
    </div>
  </section>